.container {
  color: #c9ccea;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(circle, #f3f3f5 0%, #f7f9fa 65%);
}
.container .container_text {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.container .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #fe6f6b;
  text-align: center;
  padding-top: 2px;
}
.container .description {
  font-size: 14px;
  font-weight: 800;
  color: #000;
}
.container .instruction {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: darkslategrey;
}

.container .labels {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.3rem 0.3rem;
  background-color: #0c0e1b;
  border-radius: 1.5rem !important;
}

.active-label {
  color: #0c0e1b;
  background-color: #fe6f6b;
}

.timer-container {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  border-radius: 7.5rem;
  color: #efefef;
  background: #151932;
  font-size: 3.5rem;
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.6);
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

button {
  color: #fe6f6b;
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  border: 3px solid #fe6f6b;
  border-radius: 3rem;
  margin: 0.2rem;
  background: transparent;
  min-width: 80px;
  cursor: pointer;
}

.button-wrapper button.activve {
  color: #0c0e1b;
  background-color: #c9ccea;
  border: 1px solid #0c0e1b;
}
.form-container {
  text-align: center;
}
.input-wrapper {
  margin: 1.5rem;
}
.input-wrapper input {
  height: 30px;
  width: 30px;
  padding: 1rem;
  background-color: transparent;
  color: darkslategray;
  border: 3px solid rgba(20, 159, 255, 1);
  border-radius: 30%;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 14pt;
}
